html {
  font-weight: 400;
  background-image: url("images/bg.jpg");
  color: #ffffff;
}

header {
  background-image: url("images/bg-header.jpg");
  padding: 0px;
  width: 100%;
}

.introduction-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.introduction-box-two {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.title-and-logo {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.battleropes {
  width: 400px;
  height: 300px;
}

.packfitness {
  width: 180px;
  height: 70px;
  margin-top: 30px;
}

.introduction-text {
  float: right;
  margin-left: 30px;
  padding-left: 30px;
}

.introduction-text-two {
  float: left;
  margin-right: 30px;
  padding-left: 30px;
  width: 50%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Comic Sans MS', sans-serif;
}

.nav-bar {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  float: right;
}

.logo {
  float: left;
  padding: 10px 0;
  font-family: 'Segoe Print', sans-serif;
  color: #e95907
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 28px;
  margin-right: 0px;
  position: relative;
}

nav a {
  color: rgb(153, 145, 145);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
}

nav a:hover {
  color: #ffffff;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  top: 0;
  transition: all ease-in-out 250ms;
  position: absolute;
  background-color: rgb(175, 171, 171)
}

nav a:hover::before {
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

blockquote {
  float: right;
  width: 275px;
  font-size: 130%;
  font-style: italic;
  font-family: Georgia, Times, serif;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  margin: 0 auto;
  display: block;
  justify-content: space-between;
  justify-content: center;
}


